body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 50px;
  flex-direction: column;
}

.title {
  padding-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-btn {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-btn,
.auto-play-btn {
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.reset-score-btn{
  background-color: #c00c00;
}
.auto-play-btn{
  background-color: gold;
  color: black;
}